body{
  margin: 0;
  padding: 0;
}

canvas{
  z-index: -1;
}

input{
  /*position: absolute;*/
  z-index: 0;
  top: 50%;
  width: 8%;
  height: 5%;
  margin: 4.1%;
}

a{
  position: absolute;
  top: 2%;
  left: 2%;
}
